body {
    display: flex;
    flex-direction: column;

    &.disabled {
        overflow: hidden;
    }
}

.header,
.footer {
    flex: none;
}

.page-wrapper {
    flex: 1 0 auto;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: (845+30*2)+px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;

    &--wide {
        max-width: (1280+30*2)+px;
    }
}

.layout {
    margin-right: -0.75rem;
    margin-left: -0.75rem;
    display: flex;
}

.layout__aside,
.layout__main {
    margin-top: 0;
    flex-grow: 1;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

.layout__aside {
    flex-basis: 30%;
    max-width: 30%;
}

.layout__main {
    flex-basis: 70%;
    max-width: 70%;

    >*:first-child {
        margin-top: 0;
    }
}

.page-top {
    height: 325px;
    background-color: $thunder;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
}

.page-top {
    position: relative;

    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    &:before {
        background-image: linear-gradient(to right, rgba(35, 31, 32, 0.5), transparent);
    }

    >.container {
        position: relative;
        z-index: 2;
    }

	&:after {
		background-color: rgba(35, 31, 32, 0.33);
	}

	&--size-large {
		height: auto;
		min-height: 35vw;
		flex-direction: column;
		align-items: flex-start;

		.container {
			flex: 1 1 auto;
			width: 100%;
			height: 100%;
			color: $white;
			min-height: 35vw;
			padding-top: 3rem;
			padding-bottom: 5.3rem;
		}

		.link > span {
			color: $white;
		}

		.page__title {
			opacity: 0.6;
		}
	}

	&--video {
		overflow: hidden;

		.page-top__video {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			position: absolute;

			video {
				top: 50%;
				left: 50%;
				width: auto;
				height: auto;
				display: block;
				min-width: 100%;
				min-height: 100%;
				position: absolute;
				transform: translateX(-50%) translateY(-50%);
			}
		}
	}
}

.page__title {
    padding-right: 15rem;
}

.work--wide main,
.work main,
.subindex main {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.work--wide main {
    overflow: hidden;
}

.work--wide main {
    overflow: hidden;
}

.section {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5rem;

        &--label {
            .section__title+.filter-label {
                margin-left: 12rem;
            }
        }
    }

    &__title {
        margin: 0 auto 0 0;
    }

    +section {
        margin-top: 2.5rem;
    }
}

.section--small {
    .section__header {
        margin-bottom: 1rem;

        .button--text {
            font-size: 0.875rem;
        }
    }

    +.section--small {
        margin-top: 1.5rem;
    }
}

.video-container,
.map-container {
    height: 0;
    overflow: hidden;
    position: relative;

    iframe,
    object,
    embed {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    &--4x3 {
        padding-bottom: 75%;
    }

    &--16x9 {
        padding-bottom: 56.25%;
    }
}

@include breakpoint(tablet) {
    .container {
        max-width: none;
    }

    .layout {
        &__aside {
            display: none;
        }

        &__main {
            max-width: 100%;
            flex-basis: 100%;
        }
    }

    .section__header--label {
        .section__title+.filter-label {
            margin-left: 4rem;
        }
    }
}

@include breakpoint(mobile) {
    .page-top {
        height: 220px;

        &--size-large {
            height: auto;
        }
    }

    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .page__title {
        padding-right: 0;
    }

    .section__header--label {
        flex-direction: column-reverse;

        .section__title+.filter-label {
            margin-left: 0;
            margin-bottom: 0.7rem;
        }
    }
}
