.breadcrumbs {
    &__list {
        margin-bottom: 0.9rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__link {
        color: rgba(255,255,255,0.7);
        text-decoration: none;
        font-size: 0.875rem;
        transition: color 0.2s ease;

    }
    a.breadcrumbs__link:hover {
        color: #fff;
    }

    &__item {
        position: relative;

        & + & {
            padding-left: 1.7rem;

            &:before {
                content: '\2014';
                position: absolute;
                left: 0.4rem;
                bottom: 0.05em;
                color: rgba(255,255,255,0.7);
                font-size: 0.875rem;
            }
        }
    }
}
