# Global Project Ignore

.idea
.env

*.gz
*.DS_Store

*.todo

.sass-cache
cache
node_modules
htdocs/bitrix/managed_cache
htdocs/local/templates/*/javascripts
htdocs/local/templates/*/stylesheets
/src/vendor
/src/composer.lock
yarn.lock
*.log
package-lock.json


#core ignore
/htdocs/bitrix/cache/
/htdocs/bitrix/managed_cache/
/htdocs/bitrix/stack_cache/
/htdocs/bitrix/modules/serverfilelog*
/htdocs/bitrix/modules/updater.log
/htdocs/bitrix/modules/serverfileerrorlog.dat
/htdocs/bitrix/wizards/
/htdocs/bitrix/backup/
htdocs/upload
