################# Общий игнор-лист. Не изменять. #################

# Общее
.idea
.env
*.gz
*.DS_Store
*.log
cache

# download
/htdocs/upload/

# bitrix
/htdocs/bitrix/cache/
/htdocs/bitrix/managed_cache/
/htdocs/bitrix/stack_cache/
/htdocs/bitrix/modules/serverfilelog*
/htdocs/bitrix/modules/serverfileerrorlog.dat
/htdocs/bitrix/wizards/
/htdocs/bitrix/backup/
/htdocs/local/modules/intervolga.migrato

# frontend
/local/templates/*/static
.sass-cache
yarn.lock
node_modules

# backend
/src/vendor
/src/var

##################################################################


# Кастомный игнор лист:
#figma-export-icons
icons-config.json
