@mixin breakpoint($point) {
	@if $responsive == true and $point == desktop {
		@media only screen and (max-width: $breakpoint-desktop) { @content; }
	}
	@else if $responsive == true and $point == tablet {
		@media only screen and (max-width: $breakpoint-tablet) { @content; }
	}
	@else if $responsive == true and $point == mobile {
		@media only screen and (max-width: $breakpoint-mobile) { @content; }
	}
	@else if $responsive == true and $point == v-mobile {
		@media only screen and (max-width: $breakpoint-v-mobile) { @content; }
	}
}

@mixin hide-me($point) {
	@include breakpoint($point) {
		display: none !important;
	}
}

@mixin show-me($point, $display: inherit) {
	@include breakpoint($point) {
		display: $display !important;
	}
}

@mixin colorsClasses ($colors, $colorNames) {
	$i: 1;
	@each $color in $colors {
		.#{nth($colorNames, $i)}-text {
			color: $color !important;
		}
		.#{nth($colorNames, $i)}-bg {
			background-color: $color !important;
		}
		$i: $i + 1;
	}
}

@mixin colorsClassesCustom ($colors, $colorNames) {
	$i: 1;
	@each $color in $colors {
		.#{nth($colorNames, $i)}-text {
			color: $color !important;
		}
		.#{nth($colorNames, $i)}-bg {
			background-color: $color !important;
		}
		$i: $i + 1;
	}
}

@mixin pseudo($width, $height, $content) {
	content: $content;
	display: block;
	position: absolute;
	width: $width;
	height: $height;
}

//$colorType: What to colorify - color (fill + stroke), fill, stroke
@mixin svg($width, $height, $svg, $color: null, $colorType: "color") {
	@if $color {
		background-image: svg($svg, "[#{$colorType}]: #{$color}");
	} @else {
		background-image: svg($svg);
	}
	background-size: $width $height;
	background-repeat: no-repeat;
	background-position: 50%;
}

@mixin pseudo-svg($width, $height, $svg, $color: null, $colorType: null) {
	@include pseudo($width, $height, "");
	@include svg($width, $height, $svg, $color, $colorType);
}

@mixin svg-color($width, $height, $svg, $color) {
	@include svg($width, $height, $svg, $color);
}
@mixin svg-fill($width, $height, $svg, $color) {
	@include svg($width, $height, $svg, $color, "fill");
}
@mixin svg-stroke($width, $height, $svg, $color) {
	@include svg($width, $height, $svg, $color, "stroke");
}
