@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i&subset=cyrillic-ext,latin-ext');

html {
	font-size: 16px;
	text-size-adjust: 100%;
}

%text--body,
.text--body {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: $base-font-size;
	line-height: 1.5;
	color: $base-text-color;
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

p, ul, ol, pre, table, blockquote {
	margin-top: 0rem;
	margin-bottom: 1.5rem;
}

ul ul, ol ol, ul ol, ol ul {
	margin-top: 0rem;
	margin-bottom: 0rem;
}

//
// HEADINGS
//

h1, h2, h3, h4, h5, h6 {
	// @include rem(margin-bottom, $base-font-size/2);
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 500;
	line-height: normal;
	color: inherit;
	margin-top: 1.5rem;
}

.header-1 {
	font-size: 48px;
	margin-bottom: 3rem;
}
h1 {
	@extend .header-1;
}

.header-2 {
	font-size: 24px;
	font-weight: 600;
	font-family: 'Roboto', Helvetica, sans-serif;
	text-transform: uppercase;
	margin-bottom: 1.5rem;
}
h2 {
	@extend .header-2;
}

.header-3 {
	font-size: 24px;
	line-height: normal;
}
h3 {
	@extend .header-3;
}

.header-4 {
	font-size: 18px;
}
h4 {
	@extend .header-4;
}

.header-5 {
	font-size: 18px;
}
h5 {
	@extend .header-5;
}

.header-6 {
	font-size: 16px;
	text-transform: uppercase;
}
h6 {
	@extend .header-6;
}

%caption {
	font-size: 16px;
	font-weight: 600;
	color: $base-text-color;
	border-bottom: 2px solid $base-text-color;

	.caption__units {
		font-weight: normal;
	}
}

pre.xdebug-var-dump {
	font-size: 0.8rem;
}

.page__title > h1 {
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 1.8rem;
	margin-top: 0;
}

.lead {
	font-size: 1.5rem;
}

@include breakpoint(desktop) {
	html {
		font-size: 14px;
	}

	%text--body,
	.text--body {
		font-size: 1.0715rem;
	}
}

@include breakpoint(mobile) {
	p, ul, ol, pre, table, blockquote {
		margin-bottom: 1rem;
	}

	.lead {
		font-size: 1.125rem;
	}

	.header-1 {
		font-size: 34px;
		line-height: 42px;
	}

	.header-3 {
		font-size: 18px;
	}
}
