@import "compass/utilities/general/clearfix";
@import "compass/css3/columns";

.u-push-right, %u-push-right {
	float: right;
}

.u-push-left, %u-push-left {
	float: left;
}

.u-clearfix, %u-clearfix {
	@include pie-clearfix;
}

.u-bold {
	font-weight: 600;
}

.u-medium {
	font-weight: 500;
}

.u-normal {
	font-weight: 400 !important;
}

.u-light {
	font-weight: 300;
}

.u-italic {
	font-style: italic;
}

.u-underline {
	text-decoration: underline;
}

.u-underline--no-on-hover {
	text-decoration: underline;

	&:hover, &:focus {
		text-decoration: none;
	}
}

.u-underline--on-hover {
	text-decoration: none;

	&:hover, &:focus {
		text-decoration: underline;
	}
}

.u-underline--on-hover-none {
	@extend .u-underline;

	&:hover, &:focus {
		text-decoration: none;
	}
}

.u-underline--no {
	text-decoration: none !important;

	&:hover, &:focus {
		text-decoration: none !important;
	}
}

%disable-visited {
	&:visited {
		color: inherit;
	}
}

.u-uppercase {
	text-transform: uppercase;
}

.u-lowercase {
	text-transform: lowercase;
}

.u-capitalize {
	text-transform: capitalize;
}

.u-align-center {
	text-align: center !important;
}

.u-align-right {
	text-align: right !important;
}

.u-align-left {
	text-align: left !important;
}

@include margin(top);

@include margin(right);

@include margin(left);

@include margin(bottom);

@include padding(top);

@include padding(right);

@include padding(left);

@include padding(bottom);

.u-all-padding{
	padding: $grid-margin / 2;
}

.u-all-padding--small{
	padding: $grid-margin / 4;
}

.u-all-padding--no {
	padding: 0 !important;
}

.u-inline, %u-inline-block {
	display: inline-block;
}

.u-bottom-line {
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.u-bottom-line--thick {
	@extend .u-bottom-line;
	border-bottom-width: 3px;
}

.u-bottom-line--dotted {
	@extend .u-bottom-line;
	border-bottom-style: dotted;
}

.u-bottom-line--dashed {
	@extend .u-bottom-line;
	border-bottom-style: dashed;
}

.u-bottom-border--no {
	border-bottom: none;
}

.u-solid-border {
	border: 1px solid;
}

.u-columns-2 {
	@include columns(2);
}

.u-columns-3 {
	@include columns(3);
}

.u-vertical-centering {
	display: table;
}

.u-vertical-centering__el {
	display: table-cell;
	vertical-align: middle;
}
.u-static, %u-static {
	position: static;
}

.u-relative, %u-relative {
	position: relative;
}

.u-fixed, %u-fixed {
	position: fixed;
}

.u-sticky, %u-absolute {
	position: absolute !important;
}

.u-sticky--bottom {
	bottom: 0;
}
.u-sticky--right {
	right: 0;
}
.u-sticky--left {
	left: 0;
}
.u-sticky--top {
	top: 0;
}

.u-center-position, %u-center-position {
	@extend %u-absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.u-collapse--top, %u-collapse--top {
	margin-top: 0 !important;
}

.u-collapse--bottom, %u-collapse--bottom {
    margin-bottom: 0 !important;
}

.u-bottom-layer {
	z-index: -1;
}

.u-left-gutter {
	padding-left: $grid-margin;
}

.u-block, %u-d-block {
	display: block;
}

.u-hidden, %u-d-none {
	display: none !important;
}

.u-centered-block {
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.u-overflow-hidden, %u-overflow-hidden {
	overflow: hidden;
}

.u-entire-height, %u-entire-height {
	height: 100%;
}

.u-entire-width, %u-entire-width {
	width: 100%;
}

.u-line-height--no {
	line-height: 1;
}
.u-user-select--no {
	user-select: none;
}

.u-preloader {
	background-image: url('/images/gif/preloader.gif');
	background-position: center 4rem;
	background-repeat: no-repeat;
	background-size: 8rem 8rem;
	background-color: #fff;
	position: absolute;
	min-height: 16rem;
	top: 1rem;
	bottom: 0;
	right: 0;
	left: 0;
}

.u-collapse--all {
	margin: 0 !important;
}

.u-flex--row {
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	display: flex;
}

.u-flex--col {
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	display: flex;
}

%u-title,
.u-title {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.39;
}
%u-subtitle,
.u-subtitle {
	font-size: 0.875rem;
	line-height: 1.79;
}

@include breakpoint(mobile) {
	.u-mobile-wide {
		margin-left: -1rem;
		margin-right: -1rem;

		> [class^="col"] {
			padding: 0;
		}
	}
}

@include breakpoint(v-mobile) {
	.u-v-mobile-wide {
		margin-left: -1rem;
		margin-right: -1rem;

		> [class^="col"] {
			padding: 0;
		}
	}
}
